@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap");
@import "reset.css";
body {
  font-family: "Kosugi Maru", sans-serif;
}

.screen {
  display: flex;
}

.left {
  width: 60%;
}

.today {
  margin-top: 30px;
  padding-top: 30px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today_real {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.today_real > h {
  font-size: 70px;
  margin: 10px;
}

.today_real > p {
  font-size: 45px;
  margin: 10px;
}

.todoList_real {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 40%;
}

.calendar {
  height: 130%;
  display: flex;
  align-items: center;
}

.calendar_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  font-size: 30px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
td:hover {
  background-color: #94cdfa;
}
