@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap");
@import "tmp_reset.css";
@import "tmp_clock.css";

body {
  font-family: "Kosugi Maru", sans-serif;
}

.container1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.container1_title {
  display: flex;
  justify-content: center;
}
.container1_date {
  display: flex;
  justify-content: center;
}
.container1_clock {
  display: flex;
  justify-content: center;
}
.grret {
  display: flex;
  justify-content: center;
}

.container2 {
  display: flex;
  justify-content: space-around;
}
